#root{
    background-color: #204352;
}

.admin-wrapper {
    
    min-height: 100vh;
    margin: 0 auto;
    max-width: 1000px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.admin-wrapper > * {
    max-width: 100%;
}

.login-info {
    text-align: center;
   font-size: 20px;
}

.head {
    text-align: center;
    top: 40px;
    padding: 100px;
}

.head p{
    color: white;
}

.head h1{
    font-size: 30px;
    color: white;
}

.cont {
    display: flex;
    justify-content: center;
    max-width: 1200px;
}

.inner {
    margin-right: 1rem;
}

.booking-info {
    width: 450px;
    flex-wrap: wrap;
    margin-right: 2rem;
    flex-grow: 2;

    align-self: auto;
    align-content: center;
}

/* --------------------- Calender */
.date-outer {
    width: 450px;
    height: 300px;
    flex: 1;
}
/* --------------------- Calender */

/* --------------------- BookingCard */
.item-box {
    display: block;
    flex: 1;
    color: white;
    border-radius: 5px;
    padding: 20px 0;
    text-align: left;
    margin-left: 10px;

}
.inner:nth-child(odd){
    background-color: #1b2e36
}
 .inner {
     background-color:#1f4a5c;
 }

 .inner:last-child{
     margin-bottom: 100px;
 }


.item-box p{
    margin: 0;
}

.item-box ul{
    list-style: none;
}


/* --------------------- BookingCard */
    .outer {
        display: flex;
        margin-right: 2rem;
        font-size: 14px;
        text-align: center;
    }

.item-box ul li strong{
    font-size: 14px;
}

.btn-box-outer {
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
}

.btn-box {
    display: flex;
    justify-content: center;
    align-items: center;

}

.no-books {
    text-align: center;
    width: 450px;
    font-size: 20px;
    font-style: italic;
    color: white;
    background-color: rgb(219, 77, 77);
    opacity: 70%;
    padding: 40px;
    border-radius: 10px;
}


/** Editor mode */
.show-booking button{
    margin-right: 30px;
    margin-top: 20px;
}

.show-booking{
    max-width: 350px;
    height: 350px;


    text-align: left;
    border: 1px solid white;

    padding: 28px 60px;

    color: white;
}

.show-booking h1{
    margin-bottom: 10px;
    text-decoration: underline;
}

.show-booking p{
    margin-bottom: 6px;
}


